@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top right, #312e81, #020617);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
